mat-card {
    form {
        display: flex;
        flex-direction: column; 
    }

    button {
        margin-right: 15px;
        margin-top: 20px;

        :nth-child(3) {
            background-color: #41434d;
        }
    }
}


