.sidenav {
    background-color: #41434d;
    width: 200px;

    a {
        color: #fff;
    }

    i {
        padding-right: 10px;
    }
   
}

.content {
    padding: 16px;
    background-color: #fff;
}